@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
  overflow: hidden;
}

.lights{
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(52, 152, 219, 0.4);
    filter: blur(80px);
    border-radius: 50%;
    z-index: 0; 
    top: 50px;
    left: 260px;
    
}

.lights2{
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(52, 152, 219, 0.4);
    filter: blur(80px);
    border-radius: 50%;
    z-index: 0; 
    bottom: 50px;
    right: 250px;
    
}

.image img{
    width: 300px;
    z-index: 2;
    position: relative;

}

.top {
    width: 100%;
    height: 40vh; 
    background-color: #1B263B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 3;
}

.text{
    width: 50vw;
    
}

.text h1{
    margin-bottom: 20px;
    width: 40vw;

}

.text h2{
    font-weight: 300;
}

.learn{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
}

.mid {
    width: 100%;
    height: 20vh; 
    background-color: rgb(198, 190, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.light{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(210, 210, 210);
}

.light img{
    width: 100px;
    margin-left: -15px;
}

.rocket {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(210, 210, 210);

}

.rocket img{
    width: 100px;
    margin-left: -50px;
    margin-right: -20px;
}

.bottom{
    width: 100%;
    height: 40vh;
    background-color: #1B263B;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta{
    width: 100vw;
    justify-content: space-around;
    display: flex;
}

.cta ul {
    list-style-type: none;
    color: black;
    justify-content: space-around;
}

.cta li{
    font-size: 22px;
}

ul span{
    color: #E67E22;
}

.list{
    display: flex;
    justify-content: space-around;
    
}

.list li{
    margin-right: 20px;
}

.list2{
    margin: 10px;
}

.list2 li{
    margin: 5px;
    font-size: 20px;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.cta button {
    background-color: #E67E22;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 80px;
    width: 450px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    transition: background 0.3s ease;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.4);
}

.cta button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    
    
    
}

.cta button:hover {
    background-color: #D35400;
    
}

.footer{
    background-color: #1B263B;
    text-align: center;
    color: white;
}



@media (max-width: 768px) {
    body {
        overflow-y: auto; 
    }


    .top, .bottom {
        flex-direction: column; 
        height: auto; 
        padding: 40px 20px;
        text-align: center;
    }

    .mid {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }


    .text, .text h1 {
        display: none; 
    }

    .image img {
        width: 250px; 
    }

    .learn {
        flex-direction: column;
        gap: 20px;
        border: none;
        margin-top: 0;
    }

    .rocket, .light {
        width: 100%;
        background-color: transparent;
        border: 1px solid gray;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        padding: 20px;
    }

    .list2{
        text-align: start;
    }

    .list li{
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        font-size: 12px;
        gap: 20px;
    }

    .cta button {
        width: 100%; 
        max-width: 320px;
        font-size: 20px;
        height: auto;
        content: "BAIXE O E-BOOK AGORA";
    }

    
    .lights {
        left: 10%;
        top: 100px;
    }
    
    .lights2 {
        right: 10%;
        bottom: -600px;
    }
}